<div class="container-fluid">
    <div class="row bg-success">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-white">Todo App</h1>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <img src="/assets/bg.jpg" class="img-thumbnail" style="border:none" height="200" width="450" alt="">
        </div>
        <div class="col-md-7">
            
            <div class="row">
                    <div class="col-md-3">
                        </div>
                    <div class="col-md-6">
                        <label for="" class="form-label">Id</label>
                        <input type="text" name="tid" id="" class="form-control" [(ngModel)]="tid">
                        <label for="" class="form-label">Name</label>
                        <input type="text" name="tname" id="" class="form-control" [(ngModel)]="tname">
                    </div>
                    <div class="col-md-3">
                     
                    </div>
            </div>
            <div class="row"> 
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" (click)="add()">Add</button>
                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-6">
                    <table class="table table-hover">
                        <tr>
                            <th>Sno</th> 
                            <th>Completed</th>
                             <th>Todo</th>
                            <th>Action</th>
                       
                        </tr>
                            <tr *ngFor="let item of todolist">
                                <td>{{item.todoid}}</td>
                                <td><input type="checkbox" name="" id="" (change)="update(item)"></td>
                                <td [ngClass]="{completed : item.todostatus}">{{item.todosubject}}</td>
                                <td><button class="btn btn-link" (click)="delete(item)"><i class="fa fa-trash"></i></button></td>
                            </tr>
                    </table>
                </div>
                <div class="col-md-3"></div>
            </div>
            
        </div>
    </div>
  <br><br><br><br><br><br><br><br><br>
  
</div>